<h1>Man#show</h1>
<p>Find me in app/views/man/show.html.erb</p>


<h3> <%= @man.name1 %> </h3>

 
<%= form_for @man do |person_form| %>
<%= person_form.error_messages %>
<table> 
  <tr>
   <td>First name: </td> <td> <%= person_form.text_field :name1 %></td>
  </tr>
   <tr>
   <td>Seconf name: </td> <td> <%= person_form.text_field :name2 %></td>
  </tr>
   <tr>
   <td>Third name: </td> <td> <%= person_form.text_field :name3 %></td>
  </tr>
  <tr>
    <td>Contact info: </td> <td><%= person_form.text_field :contact_info %></td>
  </tr>
  <tr>
    <td>Desired salary: </td> <td><%= person_form.text_field :desired_salary %></td>
  </tr>
 <tr>
   <td> Available for hire:</td> <td><%= person_form.check_box :seek_employment %></td>
 </tr>
 <tr><td><%= person_form.submit %></td></tr>
 </table>
<% end %>
 
<table id="skill_table"> 
 <tr><td><h4>Skills</h4></td></tr>
 
 <% @man.skills.each do |skill| %>
  <tr id ="<%= "skill" + skill.id.to_s %>">
    <td><%= skill.name%></td>
    <td> 
    	<%=
    		link_to "delete", man_rem_skill_url(:id => @man.id, :skill_id => skill.id), 
    		:remote  => true
    		#:success => "alert('Oh-Ho');",
    		#:fail    => "alert(1)"
    	 %>    
    </td> 
  </tr>
 <%end%>
</table>


<%= form_tag man_add_skill_path, :remote=>true  do %>
<table>
<tr>
  <td> <%= select_tag :skill_id, options_for_select(@skillsToAdd) %> </td>
  <td> <%= submit_tag "Add skill" %> </td>
</tr>
</table>
<% end %>


